body {
	margin:0;	
	font-family:'Trebuchet MS',Verdana,Arial,sans-serif;
	font-size:12px;
	background:#595E64;
	line-height:150%;
}

img {
	vertical-align:middle;
	border: none;
}

#wrapper {
	position:relative;
	z-index:1;
	height:416px;
	overflow:hidden;
}

#maps-div {
	height:416px;
}

#tag-results-div {
	min-height:416px;
}

#photos-div {
	height:416px;
	display:none;
}

#footer {
	background: url('footer-bg.png') repeat-x;
	background-position: 50% 100%;
	display:block;
	height:44px;
	width:100%;
}

#results {
}

.venue-title {
	color:#EEE;
	font-weight:bold;
}

.icon {
	float:left;
	width:33%;
	height:40px;
	padding: 2px 0;
	text-align: center;
}
		
.event {
	background:url(bg.png) repeat-x;
	width:100%;
	color:#EEE;
	margin-bottom:4px;
	height:60px;
}

.title {
	background:#000;
	color:#fff;
	font-size:12px;
	text-align:center;
	padding:1px;
}

.event-info {
	clear:both;
	display:none;
	font-size:14px;
	color:#AAA;
	margin: 0 8px 8px 8px;
}

.event-padding {
	padding:20px 8px 0px 8px;
}

.event-title {
	font-size:18px;
	text-transform: uppercase;
	font-variant: small-caps;
	color:#2A2829;
}

.date {
	float:left;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	width:52px;
}
